{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<!--<div class="{{ include.type | default: 'list' }}__item">-->
<!--  <article class="archive__item " itemscope itemtype="http://schema.org/CreativeWork">-->
<!--    <li class="timeline-item experience-card mb-5">-->
        {% if include.type == "grid" and teaser %}
          <div class="archive__item-teaser">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </div>
        {% endif %}

        <h4 class="archive__item-title card-header text-muted mb-3" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
          {% if post.company%}
            <p class="archive__item-excerpt" itemprop="description">{{post.type}}{{ post.company }}, {{post.location}}</p>
            {% endif %}
        </h4>

        <p class="card-body text-muted">&nbsp;&nbsp;&nbsp;Date:
        {% if post.start_date  and post.end_date %}
          {{ post.start_date | date: '%B %d, %Y' }} – {{ post.end_date | date: '%B %d, %Y' }}
        {% else %}
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.start_date | date: '%B %d, %Y' }} – Present
        {% endif %}
        </p>
<!--    </li>-->
<!--  </article>-->
<!--</div>-->


